@model BlendedAdmin.Models.Items.JsonViewModel
@if (string.IsNullOrEmpty(Model.Title) == false)
{
    <h6>@Model.Title</h6>
}
<pre style="white-space: pre-wrap; background-color: white; border: none;" class="json">@Model.Json</pre>