@inject BlendedAdmin.Services.IUrlServicecs urlService
@model BlendedAdmin.Models.Items.ItemRunModel

@{ViewData["Title"] = Model.EditModel.Name;}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">@Model.EditModel.Name</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        @Html.Partial("_LogsButton")
        <a class="btn btn-sm btn-outline-secondary" asp-controller="Items" asp-action="Edit">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit" color="#384047" data-reactid="486"><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34"></path><polygon points="18 2 22 6 12 16 8 16 8 12 18 2"></polygon></svg>
            Edit View
        </a>
    </div>
</div>

@Html.Partial("_Run", Model)