BlendedAdmin/bin

BlendedAdmin/obj
BlendedAdmin.Tests/bin

BlendedAdmin.Tests/obj

BlendedAdmin/database.db

BlendedAdmin/Database.db
BlendedAdmin/Database2.db

BlendedAdmin/Logs

.vs/BlendedAdmin
.vs/BlendedAdmin/v15/.suo

.vs/config
