@inject BlendedAdmin.Services.IUrlService urlService
@inject BlendedAdmin.Services.IEnvironmentService environmentService
@inject Microsoft.AspNetCore.Identity.SignInManager<BlendedAdmin.DomainModel.Users.ApplicationUser> signInManager
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService authorizationService

<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <div class="col-3 col-sm-3 col-md-2 mr-0">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Blended Admin</a>
    </div>
    @*<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">*@
    <ul class="nav nav-pills px-6">
        @if (signInManager.IsSignedIn(User))
        {
        var currentEnvironment = await environmentService.GetCurrentEnvironment();
        var environments = await environmentService.GetAll();

        <li class="nav-item dropdown">
            <div class="btn-group" style="margin-right: 5px;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box" color="#384047"><path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path><polyline points="2.32 6.16 12 11 21.68 6.16"></polyline><line x1="12" y1="22.76" x2="12" y2="11"></line></svg>
                    <span style="color:@currentEnvironment.Color">@currentEnvironment.Name</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="right:0; left:auto;">
                @if (environments.Count > 0)
                {
                    @foreach (var environment in environments)
                    {
                        <a class="dropdown-item" href="@urlService.GetUrlWithEnvironment(environment.Name)" style="color:@environment.Color">@environment.Name</a>
                    }
                }
                else
                {
                    <div class="dropdown-item"><a href="#">Default</a></div>
                }
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header">Configuration</h6>
                <a class="dropdown-item" asp-controller="Variables" asp-action="Index">Variables</a>
                <a class="dropdown-item" asp-controller="Environments" asp-action="Index">Environments</a>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <div class="btn-group" style="margin-right: 5px;">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user" color="#384047"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                    <span>Account</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right" style="right:0; left:auto;">
                    <h6 class="dropdown-header">Configuration</h6>
                    <a class="dropdown-item" asp-controller="Users" asp-action="Index">Users</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Account</h6>
                    <a class="dropdown-item" asp-controller="Users" asp-action="ChangeMyPassword">Change Password</a>
                    <a class="dropdown-item" asp-controller="Users" asp-action="Logoff">Log off</a>
                </div>
            </div>
        </li>
        }
        @*<li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>*@
    </ul>
    @*<button id="navbarToggler" class="navbar-toggler p-1" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <div class="d-inline-block"><div class="bar"></div><div class="bar"></div><div class="bar"></div></div>
        </button>*@
</nav>