@inject BlendedAdmin.Services.IUrlServicecs urlService
@model BlendedAdmin.Models.Users.ChangePassowrdModel

@{ViewData["Title"] = Model.Name + " - Change Passwoed - Users";}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">User - Change Passwoed</h1>
</div>

<form action="@urlService.GetUrl()" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.Succeeded)
    {
        <div class="alert alert-success" role="alert">
            The password was changed.
        </div>
    }
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" class="form-control" readonly />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Name">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-outline-secondary" asp-controller="Users" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</form>