@inject BlendedAdmin.Services.IUrlServicecs urlService
@model BlendedAdmin.Models.Users.ForgotPasswordModel

@{ViewData["Title"] = "Forgot your password?";}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Forgot your password?</h1>
</div>

<form action="@urlService.GetUrl()" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </div>
</form>