@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Forgot Password Confirmation</h1>
</div>

<p>
    Please check your email to reset your password.
</p>

@if (ViewData["callbackUrl"] != null)
{
    <a href="@ViewData["callbackUrl"]">@ViewData["callbackUrl"]</a>
}
