@{
    ViewData["Title"] = "Locked out";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Locked out</h1>
</div>

<p class="text-danger">This account has been locked out, please try again later.</p>