@inject BlendedAdmin.Services.IUrlServicecs urlService
@model BlendedAdmin.Models.Users.LogInModel

@{ViewData["Title"] = "Log In";}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Log In</h1>
</div>

<form action="@urlService.GetUrl()" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-check">
        <input asp-for="RememberMe" type="checkbox" class="form-check-input">
        <label class="form-check-label" for="RememberMe">Remember me</label>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Log In</button>
    </div>
</form>