@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Reset password confirmation</h1>
</div>
<p>
    Your password has been reset. Please <a asp-controller="Users" asp-action="Login">Click here to log in</a>.
</p>