@inject BlendedAdmin.Services.IUrlService urlService
@model BlendedAdmin.Models.Environments.EnvironmentModel

@{ViewData["Title"] = Model.Id > 0 ? (Model.Name + "- Environments") : "New - Environments";}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Environment</h1>
    <div>
        @if (Model.Id > 0)
        {
            <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@Model.Id" onclick="return confirm('Are you really want to delete this?')">Delete</a>
        }
    </div>
</div>

<form id="editForm" action="@urlService.GetUrl()" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Name">Color</label>
        <input asp-for="Color" class="form-control" placeholder="" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>
    <div class="form-group">
        <a class="btn btn-outline-secondary" asp-controller="Environments" asp-action="Index">Cancel</a>
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</form>